* {
  box-sizing: border-box;
}

body > div {
  margin-bottom: 10px;
}

.img-container-1 {
  width: 100px;
  height: 100px;
  background: url("../images/liu.png");
  background-size: cover;
}

.img-container-2 {
  width: 100px;
  height: 100px;
  background: url("../images/bqb.webp");
  background-size: cover;
}
